h1{
    color: black;
}
h2{
    color:white;
}
.title{
    background-color: cyan ;
    
}
.links{
    background-color: limegreen;
    display:flex;
    justify-content: space-evenly;
}